<!DOCTYPE html>
<html>

<head>
    <title>Staff Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <main>
        <div class="container">
            <h1>Staff Member Login</h1>
            <form method="POST" action="{{ url_for('staff_login') }}">
                <div class="form-control">
                    <input type="email" name="email" required />
                    <label>Email</label>
                </div>
                <div class="form-control">
                    <input type="password" name="password" required />
                    <label>Password</label>
                </div>
                <button class="btn">Login In</button>
            </form>
        </div>
        <button class="theme-toggle" id="themeToggle" aria-label="Toggle theme">
            <svg class="moon" viewBox="0 0 24 24">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
            <svg class="sun" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
        </button>
    </main>
    <footer class="footer">
        <div class="footer-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('help') }}">Help</a>
        </div>
        <div class="copy">
            &copy;<span id="year"></span> All rights reserved.
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>