<!DOCTYPE html>
<html>
    <head>
        <title>Staff Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>Staff Dashboard</h1>
        </header>
        <main>
            <div class="staff-privilages">
                <a href="{{ url_for('add_student') }}">Add a Student</a>
                <a href="{{ url_for('view_results') }}">View Results</a>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('help') }}">Help</a>
            </div>
            <div class="copy">
                &copy;<span id="year"></span> All rights reserved.
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>